<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<!-- Start Slider  -->

		<div id="carouselExample" class="carousel slide">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="img/ecom1.png" class="d-block w-100" alt="..."
						height="350px">
				</div>
				<div class="carousel-item">
					<img src="img/ecom3.jpg" class="d-block w-100" alt="..."
						height="350px">
				</div>
				<div class="carousel-item">
					<img src="img/ecom2.jpg" class="d-block w-100" alt="..."
						height="350px">
				</div>
			</div>
			<button class="carousel-control-prev" type="button"
				data-bs-target="#carouselExample" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button"
				data-bs-target="#carouselExample" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>

		<!-- End Slider  -->

		<!-- Flash Sale Section -->
		<div class="container mt-4" th:if="${flashSales != null && flashSales.size() > 0}">
			<div th:each="fs : ${flashSales}" class="flash-sale-banner mb-3 d-flex justify-content-between align-items-center flex-wrap gap-3">
				<div>
					<span class="badge bg-white text-danger fw-bold mb-1"><i class="fa-solid fa-bolt"></i> FLASH SALE</span>
					<h4 class="fw-bold mb-1">[[${fs.title}]]</h4>
					<p class="mb-0 opacity-90">Save <strong>[[${fs.discountPercentage}]]%</strong> on eligible products!</p>
				</div>
				<div class="d-flex align-items-center gap-3">
					<div class="text-center">
						<p class="small opacity-75 mb-2">Ends in:</p>
						<div class="d-flex gap-2" th:id="${'countdown-' + fs.id}" th:attr="data-end=${#dates.format(fs.endTime, 'yyyy-MM-dd') + 'T' + #dates.format(fs.endTime, 'HH:mm:ss')}">
							<div class="countdown-box"><div class="num" id="h-[[${fs.id}]]">00</div><div class="lbl">Hours</div></div>
							<div class="countdown-box"><div class="num" id="m-[[${fs.id}]]">00</div><div class="lbl">Mins</div></div>
							<div class="countdown-box"><div class="num" id="s-[[${fs.id}]]">00</div><div class="lbl">Secs</div></div>
						</div>
					</div>
					<a href="/products" class="btn btn-light fw-bold rounded-pill px-4">Shop Now</a>
				</div>
			</div>
		</div>

		<script>
		document.querySelectorAll('[id^="countdown-"]').forEach(function(el) {
			var endTime = new Date(el.getAttribute('data-end'));
			var id = el.id.replace('countdown-', '');
			var timer = setInterval(function() {
				var now = new Date();
				var diff = endTime - now;
				if (diff <= 0) { clearInterval(timer); return; }
				var h = Math.floor(diff / 3600000);
				var m = Math.floor((diff % 3600000) / 60000);
				var s = Math.floor((diff % 60000) / 1000);
				var pad = n => n.toString().padStart(2, '0');
				var hEl = document.getElementById('h-' + id);
				var mEl = document.getElementById('m-' + id);
				var sEl = document.getElementById('s-' + id);
				if (hEl) hEl.textContent = pad(h);
				if (mEl) mEl.textContent = pad(m);
				if (sEl) sEl.textContent = pad(s);
			}, 1000);
		});
		</script>
		<!-- End Flash Sale Section -->


		<!--< Start Category Module -->
		<div class="container">
			<div class="row">
				<p class="text-center fs-4">Category</p>
				<div class="col-md-2" th:each="c:${category}">
					<div
						class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded ">
						<div class="card-body text-center">
							<img th:src="@{'img/category_img/'+${c.imageName}}" width="65%" height="140px"><br>
							<a th:href="@{'/products?category='+${c.name}}" class="text-decoration-none">[[${c.name}]]</a>
						</div>
					</div>
				</div>

				<!-- <div class="col-md-2">
					<div
						class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded ">
						<div class="card-body text-center">
							<img src="img/category_img/beuty.png" width="65%" height="140px">
							<p>Beauty</p>
						</div>
					</div>
				</div> -->


				<!-- <div class="col-md-2">
					<div
						class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded ">
						<div class="card-body text-center">
							<img src="img/category_img/pant.png" width="65%" height="140px">
							<p>Clothes</p>
						</div>
					</div>
				</div>
 -->
				<!-- <div class="col-md-2">
					<div
						class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded ">
						<div class="card-body text-center">
							<img src="img/category_img/laptop.jpg" width="65%" height="140px">
							<p>Laptop</p>
						</div>
					</div>
				</div> -->


			<!-- 	<div class="col-md-2">
					<div
						class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded ">
						<div class="card-body text-center">
							<img src="img/category_img/mobile.png" width="65%" height="140px">
							<p>Mobile</p>
						</div>
					</div>
				</div> -->

				<!-- <div class="col-md-2">
					<div
						class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded ">
						<div class="card-body text-center">
							<img src="img/category_img/groccery.jpg" width="65%"
								height="140px">
							<p>Grocery</p>
						</div>
					</div>
				</div> -->


			</div>
		</div>
		<!-- End Category Module -->


		<!-- Start Latest Product Module -->

		<div class="container-fluid bg-light p-3">
			<div class="row">
				<p class="text-center fs-4">Latest Product</p>

				<div class="col-md-3" th:each="p:${products}">
					<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img alt="" th:src="@{'img/product_img/'+${p.image}}" class="" width="65%"
								height="140px">
							<p class="text-center"><a th:href="@{'/product/'+${p.id}}" class="text-decoration-none">[[${p.title}]]</a></p>
						</div>
					</div>
				</div>


			<!-- 	<div class="col-md-3">
					<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img alt="" src="img/product_img/laptop.jpg" class="" width="65%"
								height="140px">
							<p class="text-center">HP Laptop</p>
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img alt="" src="img/product_img/laptop.jpg" class="" width="65%"
								height="140px">
							<p class="text-center">HP Laptop</p>
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img alt="" src="img/product_img/laptop.jpg" class="" width="65%"
								height="140px">
							<p class="text-center">HP Laptop</p>
						</div>
					</div>
				</div> -->

			</div>
		</div>


		<!-- End Latest Product Module -->
	</section>
</body>
</html>